@charset "UTF-8";

/* ページ全体の設定 */
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Arial, "游ゴシック", "Yu Gothic", sans-serif;
  background-image: url(https://drive.google.com/uc?id=1_uhAw5bZX50ez3MqDNVPL-5sgi__-2bh);
  color: white;
}

article a{
	padding: 15px 0;
	color: #ffffff;
	text-align: center;  /* hiuctf{Uwa_mitukatta_!} */
}